.input_search_container {
  display: flex;
  column-gap: 45px;
}
.input_search {
  width: 90%;
  height: 75px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 40px;
  input {
    height: 100%;
    border: none;
    border-radius: 50px;
  }
  #input {
    outline: none;
  }
  ::placeholder {
    color: black;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    font-family: "PT Sans", sans-serif;
  }
}
.searchBox_icons {
  font-size: 27px;
  color: #797979;
}
.search{
  // color: black;
}
.location_dropdown {
  display: flex;
  align-items: center;
  p {
    color: black;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    font-family: "PT Sans", sans-serif;
    margin: 0px 50px 0px 19px;
  }
}
.search {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #9ff897, #c9ff56);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    width: 1140px;
  }
  .input_search {
    width: 71%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .input_search_container {
    column-gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .input_search_container {
    column-gap: 18px;
  }
  .input_search {
    height: 50px;
    ::placeholder {
      font-size: 18px;
    }
    p {
      font-size: 18px;
      margin: 0px 30px 0px 10px;
    }
    .searchBox_icons {
      font-size: 18px;
    }
  }
  .search {
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .input_search_container {
    column-gap: 15px;
  }
  .input_search {
    height: 50px;
    ::placeholder {
      font-size: 18px;
    }
    p {
      font-size: 18px;
      margin: 0px 30px 0px 10px;
    }
  }
  .searchBox_icons {
    font-size: 18px;
  }
  .search {
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0px;
  }
  .input_search_container {
    column-gap: 15px;
  }
  .input_search {
    height: 60px;
    // flex-direction: column;
    padding: 9px 10px 0px 20px;
    ::placeholder {
      font-size: 18px;
      margin: auto;
      text-align: center;
    }
    p {
      font-size: 18px;
      margin: 0px 30px 0px 10px;
    }
  }
  .searchBox_icons {
    font-size: 18px;
  }
  .search {
    height: 53px;
    width: 60px;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  .container{
    width: 100%;
  }
  .input_search{
    flex-direction: column;
  }
}
